/* header.css */
@import 'variables.css';

#site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.2rem solid #18352fe1;
  background-color: rgba(42, 52, 57, 0.85);
  box-shadow: 0px 0px 10px black;
  position: fixed;
  top: 0;
  z-index: 9999;
  height: var(--header-height);
  transition: height 0.5s ease;
}

#site-header.small-header {
  height: 3rem;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-content img {
  max-height: 4rem;
  max-width: 4rem;
  border: 2px solid #55212d;
  margin-left: 0.5rem;
  border-radius: 10%;
  transition: transform 0.3s, max-width 0.5s ease, max-height 0.5s ease;
}

#site-header.small-header .header-content img {
  max-height: 2rem;
  max-width: 2rem;
}

.header-content img:hover {
  transform: scale(1.1);
  border: 2px solid var(--accent-color);
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}

#nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease, font-size 0.5s ease;
  font-size: 1.1em;
}

#nav-links a:hover {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1rem;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 3px;
}