/* responsive.css */
@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'about.css';
@import 'projects.css';
@import 'skills.css';
@import 'contact.css';
@import 'footer.css';

/* Default Mobile Styles (Mobile First) */
body {
  font-size: 1rem;
  overflow-x: hidden;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

.skill-text-container,
.skill-container {
  max-width: 100%;
  padding: 1rem;
}

.skill-container {
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.skill-content {
  flex-direction: column;
  height: auto;
  margin-bottom: 1rem;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
}

#contact-form textarea {
  height: 9.375rem;
}

.footer-content {
  flex-direction: column;
}

.footer-column {
  border-right: none;
  padding: 1rem 0;
  text-align: center;
}

.footer-column ul.footer-nav li {
  display: block;
  margin-bottom: 0.3125rem;
}

.footer-logo {
  width: 2.5rem;
}

.footer-icon-social {
  margin-right: 0.9375rem;
}

h1,
h2,
h3 {
  font-size: 1.5rem;
}

/* Responsive Styles for Mobile */
@media only screen and (max-width: 768px) {
  #nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: var(--header-height);
    left: 0;
    background-color: rgba(42, 52, 57, 0.85);
    z-index: 9998;
    text-align: center;
    transition: top 0.5s ease;
  }

  #nav-links.show {
    display: flex;
  }

  #nav-links .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: flex;
    margin-right: 1rem;
  }

  .header-content {
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
  }

  #site-header.small-header .hamburger span {
    width: 20px;
  }

  /* Adjusting project content for mobile */
  .project-grid {
    flex-direction: column;
  }

  .project-content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem;
  }

  .project-content div {
    text-align: center;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  body {
    font-size: 1.125rem;
    padding: 1.25rem;
  }

  .skill-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .skill-content {
    flex-direction: row;
    justify-content: space-around;
    height: 18.75rem;
  }

  #contact-form input,
  #contact-form textarea {
    width: 75%;
  }

  #contact-form textarea {
    height: 12.5rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-column {
    border-right: 0.0625rem solid #ccc;
    padding: 1.25rem;
  }

  .footer-column:last-child {
    border-right: none;
  }

  .footer-logo {
    width: 3.125rem;
  }

  .footer-icon-social {
    margin-right: 1.25rem;
  }

  h1,
  h2,
  h3 {
    font-size: 2rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.25rem;
    padding: 1.875rem;
  }

  .skill-container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
  }

  .skill-content {
    flex-direction: row;
    justify-content: space-between;
    height: 25rem;
  }

  #contact-form input,
  #contact-form textarea {
    width: 50%;
  }

  #contact-form textarea {
    height: 15.625rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-column {
    border-right: 0.0625rem solid #ccc;
    padding: 1.25rem;
  }

  .footer-column:last-child {
    border-right: none;
  }

  .footer-logo {
    width: 3.75rem;
  }

  .footer-icon-social {
    margin-right: 1.5625rem;
  }

  h1,
  h2,
  h3 {
    font-size: 2.5rem;
  }
}