/* responsive.css */
@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'about.css';
@import 'projects.css';
@import 'skills.css';
@import 'contact.css';
@import 'footer.css';

/* Tablet Styles */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  body {
    font-size: 1.125rem;
    padding: 1.25rem;
  }

  .skill-container {
    flex-direction: row;
    /* Change to row for larger screens */
    justify-content: space-around;
  }

  .skill-content {
    flex-direction: row;
    /* Change to row for larger screens */
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
  }

  #contact-form input,
  #contact-form textarea {
    width: 75%;
  }

  #contact-form textarea {
    height: 12.5rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-column {
    border-right: 0.0625rem solid #ccc;
    padding: 1.25rem;
  }

  .footer-column:last-child {
    border-right: none;
  }

  .footer-logo {
    width: 3.125rem;
  }

  .footer-icon-social {
    margin-right: 1.25rem;
  }

  h1,
  h2,
  h3 {
    font-size: 2rem;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.25rem;
    padding: 1.875rem;
  }

  .skill-container {
    flex-direction: row;
    /* Change to row for larger screens */
    justify-content: space-around;
  }

  .skill-content {
    flex-direction: row;
    /* Change to row for larger screens */
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
  }

  #contact-form input,
  #contact-form textarea {
    width: 50%;
  }

  #contact-form textarea {
    height: 15.625rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-column {
    border-right: 0.0625rem solid #ccc;
    padding: 1.25rem;
  }

  .footer-column:last-child {
    border-right: none;
  }

  .footer-logo {
    width: 3.75rem;
  }

  .footer-icon-social {
    margin-right: 1.5625rem;
  }

  h1,
  h2,
  h3 {
    font-size: 2.5rem;
  }

  #nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    position: static;
    background-color: transparent;
    text-align: left;
  }

  #nav-links .nav-item {
    margin: 0;
  }

  .hamburger {
    display: none;
  }

  .skill {
    max-width: none;
    /* Remove the width restriction for larger screens */
  }
}