/* css/skills.css */
@import 'variables.css';

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10rem 0;
}

.skill-text-container {
  max-width: 65%;
  animation: fadeIn 2s ease-in;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.skill-container p {
  max-width: 65%;
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skill-bar-container {
  width: 3rem;
  max-width: 300px;
  /* Optional: set a max-width */
  height: 200px;
  background-color: #2a34397f;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 1rem;
}

.skill-bar-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  pointer-events: none;
}

.skill-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: var(--accent-color);
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.skill h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.skill img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  margin-top: 1rem;
  transition: transform 1s ease;
  transform-origin: center;
}

.skill img:hover {
  transform: rotate(360deg);
}

.percentage {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 5px;
  color: #000;
  font-weight: bold;
  transition: opacity 0.5s;
  font-size: 0.8em;
  opacity: 0;
  z-index: 2;
}